.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.information {
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
}

#tooltip99:hover + .information {
    max-height: 1000px;
}

#tooltip98:hover + .information {
    max-height: 1000px;
}

#tooltip97:hover + .information {
    max-height: 1000px;
}

#tooltip96:hover + .information {
    max-height: 1000px;
}

#tooltip95:hover + .information {
    max-height: 1000px;
}

#tooltip94:hover + .information {
    max-height: 1000px;
}

#tooltip93:hover + .information {
    max-height: 1000px;
}

#tooltip0:hover + .information {
    max-height: 1000px;
}

#tooltip1:hover + .information {
    max-height: 1000px;
}

#tooltip2:hover + .information {
    max-height: 1000px;
}

#tooltip3:hover + .information {
    max-height: 1000px;
}

#tooltip4:hover + .information {
    max-height: 1000px;
}

#tooltip5:hover + .information {
    max-height: 1000px;
}

#tooltip6:hover + .information {
    max-height: 1000px;
}

#tooltip7:hover + .information {
    max-height: 1000px;
}

#tooltip8:hover + .information {
    max-height: 1000px;
}

#tooltip9:hover + .information {
    max-height: 1000px;
}

#tooltip10:hover + .information {
    max-height: 1000px;
}

#tooltip11:hover + .information {
    max-height: 1000px;
}

#tooltip12:hover + .information {
    max-height: 1000px;
}

#tooltip13:hover + .information {
    max-height: 1000px;
}

#tooltip14:hover + .information {
    max-height: 1000px;
}

#tooltip15:hover + .information {
    max-height: 1000px;
}

/*隱藏scroll bar*/
pre code.hljs {
    overflow-x: hidden;
}

/*自動換行*/
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.advanceMode {
    color: red;
}

.showAdvanceMode {
    display: block;

}

.hideAdvanceMode {
    display: none;
}

